{% extends "UKMAmbBundle:Design:layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row-fluid">
			<div class="col-12 col-md-4 float-right">	
				{% embed "UKMAmbBundle:Profile:card.html.twig" with { 'align': 'right', 'ambassador': ambassador } %}{% endembed %}
				<ol class="list-unstyled my-4">
					<li class="my-3">
						<a href="/side/hva-gjor-en-ambassador/" class="btn btn-outline-primary btn-block">
							Hva gjør en ambassadør?
						</a>
					</li>
					<li class="my-3">
						<a href="//facebook.com/UKMNorge" target="_blank" class="btn btn-outline-primary btn-block">
							UKM på facebook
						</a>
					</li>
					<li class="my-3">
						<a href="//www.dropbox.com/sh/w6raxpg6at1iwkz/AACxZj2mvsDNXd_4xg1WaDZsa?dl=0" target="_blank" class="btn btn-outline-primary btn-block">
							Ambassadør-filer
						</a>
					</li>
					<li class="my-3">
						<a href="//org.ukm.no/grafisk-profil/" class="btn btn-outline-primary btn-block">
							Grafisk profil
						</a>
					</li>
				</ol>
			</div>
			
			<div class="col-12 col-md-8 float-left">
				{{ homepage.content|raw }}
			</div>
		</div>
	</div>
{% endblock %}