{% extends "UKMAmbBundle:Design:layout.html.twig" %}


{% block content %}

	<div class="col-xs-12 col-md-8">
		<h2>Hva er en ambassadør</h2>
		<p class="lead">En UKM-ambassadør snakker varmt om UKM, og anbefaler andre å bli med på UKM</p>
		<p>Høres det veldig enkelt ut? Vi har samlet litt mer info på denne siden:</p>
	</div>

	<div class="col-xs-12 col-md-4">
		<div class="col-xs-12">
			<h2>Logg inn</h2>
			<p>Hvis du er registrert UKM-ambassadør kan du logge inn til din ambassadørside her</p>
			<p>
				<a href="#" class="btn btn-sm btn-primary">Logg inn med facebook</a>
			</p>
		</div>
		
		<div class="col-xs-12 col-md-4">
			<h2>Bli ambassadør</h2>
			<p>
				<a href="#" class="btn btn-sm btn-primary">Les mer om hvordan du kan bli ambassadør</a>
			</p>
		</div>
	</div>
{% endblock %}