{% extends "UKMAmbBundle:Design:layout.html.twig" %}

{% block jumbo_header %}
	Bli ambassadør
{% endblock %}
{% block jumbo_content %}
	Få velkomstpakken
{% endblock %}

{% block content %}
	<div class="col-xs-12">
		{{ homepage.content|raw }}
		<div class="clearfix"></div>
		<form method="post" action="{{ url('ukm_amb_join_complete') }}">
			<div class="form-group">
				<label for="address">Adresse</label>
				<input type="text" class="form-control" id="address" name="address" placeholder="Skriv inn gateadresse hvis du har en.." />
			</div>

			<div class="form-group">
				<label for="postalcode">Postnummer</label>
				<input type="text" class="form-control" id="postalcode" name="postalcode" placeholder="Skriv inn postnummer (4 siffer)" />
			</div>

			<div class="form-group">
				<label for="postalplace">Poststed</label>
				<input type="text" class="form-control" id="postalplace" name="postalplace" placeholder="Skriv inn poststed" />
			</div>


			<div class="form-group">
				<label for="size">T-skjortestørrelse</label>
				<select class="form-control" id="size" name="size">
					<option value="false" selected="selected" deactivated="deactivated"> -- Velg størrelse -- </option>
					<option value="xsmall">X Small</option>
					<option value="small">Small</option>
					<option value="medium">Medium</option>
					<option value="large">Large</option>
					<option value="xlarge">X Large</option>
				</select>
			</div>
			
			<button type="submit" class="btn btn-success">Lagre adrese, og send velkomstpakken</button>
		</form>
	</div>
	
{% endblock %}