{% extends "UKMAmbBundle:Design:layout.html.twig" %}

{% block jumbo_header %}
	Bli ambassadør
{% endblock %}
{% block jumbo_content %}
	Allerede registrert!
{% endblock %}

{% block content %}
	<div class="col-xs-12">
		<p class="lead">
			Det ser ut til at du ikke skal være på denne siden, for du er allerede registrert.
		</p>

		<p>
			For å gå til din ambassadørside kan du trykke på knappen nedenfor. 
			Hvis du fortsetter å komme til denne siden anbefaler vi deg å ta <a href="http://om.ukm.no/kontakt/administrasjonen/">kontakt med administrasjonen (support)</a>.
		</p>
		<p>
			<a href="{{ url('ukm_amb_profile_home', {'ID': ambassador.getID() }) }}" class="btn btn-sm btn-success">Gå til min ambassadørside</a>
		</p>

		<p>&nbsp;</p>
	</div>
	
{% endblock %}