{% extends "UKMAmbBundle:Design:layout.html.twig" %}

{% block content %}
	<div class="">
		<h2>Profilside ambassadør</h2>
		
		<p>Switch mellom public / editmode avhengig av innlogget brukers status</p>
	</div>
{% endblock %}