{% extends "UKMAmbBundle:Design:layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Takk, {{ fornavn }}</h1>
				<p class="lead">Du er nå registrert som UKM-ambassadør i ett år til.</p>
				
				<p>Er du ikke {{ fornavn }}? <a href="mailto:support@ukm.no">Send oss en melding</a></p>
			</div>
		</div>
	</div>
{% endblock %}