{% extends "UKMAmbBundle:Design:layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Bli ambassadør - en feil har oppstått!</h1>
				<p class="lead">
					Beklager, en ukjent feil har oppstått..
				</p>
				<p>
					Vennligst send en e-post til 
					<a href="mailto:support@ukm.no">support@ukm.no</a> 
					med ditt mobilnummer, 
					og beskjed om at du ikke har fått registrert deg som ambassadør.
				</p>
			</div>
		</div>
	</div>
{% endblock %}