{% extends "UKMAmbBundle:Design:layout.html.twig" %}

{% block jumbo_header %}
	Bli ambassadør
{% endblock %}
{% block jumbo_content %}
	En feil har oppstått!
{% endblock %}
{% block HTMLtitle %}Bli ambassadør - en feil har oppstått!{% endblock %}

{% block content %}
	<div class="col-xs-12">
		<p class="lead">
			Beklager, en ukjent feil har oppstått..
		</p>
		<p>
			Vennligst send en e-post til <a href="mailto:support@ukm.no">support@ukm.no</a> med ditt mobilnummer, og beskjed om at du ikke har fått registrert deg som ambassadør.
		</p>
		</p>
	</div>
	
{% endblock %}