{% extends "UKMAmbBundle:Design:layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Bli ambassadør - en feil har oppstått</h1>

				<p class="lead">
					Beklager, for å kunne vise denne siden må du være logget inn med facebook.
				</p>
				<p>
					Du kan forsøke å logge inn på nytt:
				</p>
				<p>
					<a href="{{ url('hwi_facebook_login') }}" class="btn btn-sm btn-outline-primary">
						Logg inn med facebook
					</a>
				</p>
		
				<p>&nbsp;</p>
			</div>
		</div>
	</div>
{% endblock %}