{% extends "UKMAmbBundle:Design:layout.html.twig" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Bli ambassadør - mobilnummer ikke funnet!</h1>
				<p class="lead">
					Beklager, vi finner ingen invitasjon knyttet til dette nummeret ({{phone}})
				</p>
				<p>
					<strong>Har du gjort alt dette?</strong>
					<ol>
						<li>Fått en SMS med invitasjon til å bli ambassadør</li>
						<li>Sendt "UKM AMB" til 1963?</li>
						<li>Fått en info-SMS</li>
					</ol>
					Hvis du ikke har vært gjennom disse tre stegene vil du ikke kunne registrere deg på denne siden.
				</p>
				<p>
					<strong>Har du ikke fått invitasjon?</strong>
				</p>
				<p>
					<a href="//ukm.no/derdubor/" class="btn btn-sm btn-outline-primary">Be lokalkontakten om invitasjon</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}
